.header-back-img {
    height: 24px;
    width: 24px;
}

.header-container {
    height: 64px;
    width: 100%;
    padding: 8px 16px;
}

.header-title-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}